@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
}

img {
	display: block;
}

ul, ol {
  padding: 0;
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
	position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(22, 13, 61, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(104, 104, 104, 0.6);
  border-radius: 20px;
  border: transparent;
}